:root {
  --light-blue: hsla(195, 55%, 98%, 1);
  --monospace: Menlo, Inconsolata, consolas, monospace;
  --monospace-secondary: Inconsolata, consolas, monospace;
  --color: #333;
  --font-mute: hsla(214, 3%, 59%, 1);
  --font-mute: #888;
  --purple: hsla(232, 59%, 58%, 1);
  --code-bg: #F3F3F3;
  --border-color: #EEE;
}

html {
  height: 100%;
  width: 100%;
}

* { box-sizing: border-box; }

a {
  color: var(--purple);
}

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto Slab, Roboto, Calibri, Corbel, sans-serif;
  margin: 0;
  background: var(--light-blue);
  background-color: #fff;
  height: 100%;
  position: relative;
  color: #333;
  line-height: 1.5;
}

h1, h2 {
  letter-spacing: 2px;
  font-weight: normal;
}


.wrapper {
  flex: 1 0 auto;
  position: relative;
}

main {
  margin-bottom: 20px;
}

.tags, .categories { font-family: var(--monospace-secondary); }

.tags {
  list-style: none;
  padding: 0;
}

.tags a {
  color: #888;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 1px 5px;
  font-size: 90%;
}

.tags a:hover {
  border-color: #aaa;
  color: #555;
}

.categories {
  padding: 0;
  list-style: none;
}

.categories a::after,
.categories a::before {
  content: "{";
  margin-right: 5px;
  display: inline-block;
  color: #888;
}

.categories a::after {
  content: "}";
  margin: 0;
  margin-left: 5px;
}

.categories a {
  color: var(--color);
  text-decoration: none;
}

.categories a:hover {
  color: #000;
  text-decoration: underline;
}

footer {
  border-top: 1px solid var(--border-color);
  padding: 0 10px;
}

.footer-splits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 960px;
  margin: auto;
}

.footer-split {
  min-width: 300px;
  flex-basis: -webkit-min-content;
  flex-basis: -moz-min-content;
  flex-basis: min-content;
  padding: 10px 10px;
  position: relative;
}

.footer-split:not(:last-of-type) {
  margin-right: 10px;
  padding-right: 20px;
}

.footer-split-title {
  margin: 5px 0;
}

.footer-split:not(:last-of-type)::before,
.footer-split:not(:last-of-type)::after {
  content: "";
  display: block;
  position: absolute;
  right: -5px;
  top: calc(50% - 17px); /* half of the height taking into account the rotation */
  height: 20px;
  border-left: 3px solid var(--border-color);
  transform: rotate(-30deg);
  transform-origin: bottom;
}

.footer-split:not(:last-of-type)::after {
  transform-origin: top;
  transform: rotate(30deg);
  top: calc(50%);
}

.footer-social-links {
  list-style: none;
  padding: 0;
}

.footer-social-links li {
  display: inline-block;
}

.footer-social-link {
  text-decoration: none;
  color: inherit;
  margin: 0 5px;
}

.footer-social-link svg {
  --size: 25px;
  width: var(--size);
  height: var(--size);
}

.footer-bottom {
  text-align: center;
}
.footer-bottom::before {
  content: '';
  width: 200px;
  margin: auto;
  display: block;
  border-top: 1px solid var(--border-color);
}

/* geektnt.com/how-to-remove-x-from-search-input-field-on-chrome-and-ie.html */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none;  }
