:root {
  --light-blue: hsla(195, 55%, 98%, 1);
  --monospace: Fira Code, Fira Mono, Menlo, Inconsolata, consolas, monospace;
  --color: #333;
  --font-mute: hsla(214, 3%, 59%, 1);
  --font-mute: #888;
  --purple: hsla(232, 59%, 58%, 1);
  --code-bg: #F3F3F3;
  --border-color: #EEE;
}

html {
  height: 100%;
  width: 100%;
}

* { box-sizing: border-box; }

a {
  color: var(--purple);
}

body {
  font-family: Roboto Slab, Roboto, Calibri, Corbel, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--light-blue);
  background-color: #fff;
  height: 100%;
  position: relative;
  color: #333;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-weight: 100;
  line-height: 1;
}

h1, h2 { letter-spacing: 2px; }

h3, h4 { letter-spacing: 1px; }

h3 { font-size: 140%; }
h4 { font-size: 120%; }

h1 > small, h2 > small, h3 > small {
  font-size: 70%;
  color: var(--font-mute);
  font-weight: normal;
}

.wrapper {
  flex: 1 0 auto;
  position: relative;
}

main {
  margin-bottom: 20px;
  padding: 0 16px;
}

.tags { font-family: var(--monospace); }

.page-content :not(pre) > code,
.list-summary code {
  background-color: var(--code-bg);
  padding: 2px 5px;
  border-radius: 2px;
}
.page-content kbd,
.list-summary kbd {
  color: #666;
  border: 1px solid #ccc;
  padding: 1px 5px;
  border-radius: 2px;
}

.tags {
  list-style: none;
  padding: 0;
}

.tags a {
  color: #888;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 1px 5px;
  font-size: 90%;
}

.tags a:hover {
  border-color: #aaa;
  color: #555;
}

footer {
  border-top: 1px solid var(--border-color);
  padding: 0 10px;
}

.footer-splits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 960px;
  margin: auto;
}

.footer-split {
  flex: 1;
  min-width: 300px;
  padding: 10px 10px;
  position: relative;
}

.footer-split:not(:last-of-type) {
  margin-right: 10px;
  padding-right: 20px;
}

.footer-split-title {
  margin: 5px 0;
}

.footer-split:not(:last-of-type)::before,
.footer-split:not(:last-of-type)::after {
  content: "";
  display: block;
  position: absolute;
  right: -5px;
  top: calc(50% - 17px); /* half of the height taking into account the rotation */
  height: 20px;
  border-left: 3px solid var(--border-color);
  transform: rotate(-30deg);
  transform-origin: bottom;
}

.footer-split:not(:last-of-type)::after {
  transform-origin: top;
  transform: rotate(30deg);
  top: calc(50%);
}

.footer-social-links {
  list-style: none;
  padding: 0;
}

.footer-social-links li {
  display: inline-block;
}

.footer-social-link {
  text-decoration: none;
  color: inherit;
  margin: 0 5px;
}

.footer-social-link svg {
  --size: 25px;
  width: var(--size);
  height: var(--size);
}

.footer-bottom {
  text-align: center;
}

.center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.footer-bottom::before {
  content: '';
  width: 200px;
  margin: auto;
  display: block;
  border-top: 1px solid var(--border-color);
}

/* geektnt.com/how-to-remove-x-from-search-input-field-on-chrome-and-ie.html */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none;  }
