header {
  padding: 10px 15px;
  border-bottom: 1px solid var(--border-color);
}

header a {
  color: inherit;
  text-decoration: none;
}

.header-inner {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.header-brand,
.header-nav {
  text-align: center;
  margin: 5px 0;
}

.header-brand {
  white-space: nowrap;
}

.header-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.header-nav-item {
  display: inline-block;
  margin: 0 5px;
}

.header-nav-item:first-of-type {
  margin-left: 1px;
}
