body.header-active { overflow: hidden; }

body.header-active main,
body.header-active footer {
  filter: blur(2px);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 10;
  background-color: var(--header-bg);
  transform: scale(1.1);
  opacity: 0;
  visibility: hidden;
  transition: transform .2s ease, opacity .2s ease, visibility .2s linear 0s;
}

body.header-active header {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
  overflow: auto;
}

.show-header, .hide-header { cursor: pointer; }
.show-header {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid #555;
  position: fixed;
  right: 10px;
  top: 10px;
}

.hide-header {
  --stroke-width: 2px;
  display: inline-block;
  margin-top: 20px;
}

.hide-header::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border: var(--stroke-width) solid currentColor;
  border-right-color: transparent;
  border-top-color: transparent;
  transform: translate(12px, -1px) rotate(45deg);
  transform-origin: bottom left;
}

.hide-header::after {
  content: "";
  width: 20px;
  background-color: currentColor;
  height: var(--stroke-width);
  display: inline-block;
}

.header-brand {
  font-size: 210%;
}

header a {
  color: var(--header-fg);
  text-decoration: none;
}

.header-splits {
  text-align: center;
  font-size: 120%;
}

.header-split {
  min-width: 7em;
  text-align: left;
  margin: 0 10px;
  display: inline-block;
}

.header-split-title {
  font-weight: normal;
  color: #666;
  font-size: .8em;
}

.header-split-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-split-list a::before {
  content: "⇒";
  display: inline;
  margin-right: 10px;
  color: #aaa;
}

.header-split-list a:hover::before,
.header-split-list a:active::before {
  color: #555;
}

.header-bio {
  margin: 40px 0;
}

.header-social {
  margin-top: 40px;
  list-style: none;
  padding: 0;
}

.header-social li {
  display: inline-block;
  margin: 0 10px;
}

.header-social img {
  width: 40px;
  height: 40px;
}
