.header {
  padding: 10px 15px;
  border-bottom: 1px solid var(--border-color);
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header a {
  color: inherit;
  text-decoration: none;
}

.header-brand {
  margin: 12px 0;
}

.header-brand-logo {
  width: 24px;
  vertical-align: middle;
}

.header-brand-title {
  vertical-align: middle;
}

.header-nav {
  margin: 5px 0;
}

.header-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.header-nav-item {
  display: inline-block;
  margin: 0 5px;
}

.header-nav-item:first-of-type {
  margin-left: 1px;
}
