main {
  flex: 1 0 auto;
}

.home-content {
  margin-top: 5%;
}

.home-header {
  text-align: center;
}

.home-header-avatar {
  vertical-align: middle;
  display: inline-block;
  width: 24px;
  margin-right: 5px;
}

.home-header-title {
  vertical-align: middle;
  display: inline-block;
}

.home-about {
  text-align: center;
  width: 512px;
  margin: auto;
}

.home-about-avatar {
  width: 192px;
  display: block;
  margin: 12px auto;
}

.home-about-title {
  margin: 12px 0;
}

.home-about-name {
  margin: 12px 0;
}

.home-links {
  text-align: center;
}

.home-links ul {
  list-style: none;
  padding: 0 16px;
  display: inline-block;
}
.home-links ul:not(:last-child) {
  height: 100%;
  border-right: 3px solid var(--border-color);
}

.home-links-link {
  display: inline-block;
  margin: 0 4px;
}

.home-last-entries {
  max-width: 100%;
  width: 978px;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.home-entry {
  max-width: 384px;
}

.home-closing {
  text-align: center;
  width: 512px;
  margin: auto;
}
