body {
  --border-color: #ccc;
}

main {
  flex: 1 0 auto;
}

.home-content {
  margin-top: 5%;
  text-align: center;
}

h1 {
  font-size: 300%;
  margin: 0;
}

.description {
  margin: 30px auto;
  font-size: 130%;
  color: var(--font-mute);
  max-width: 450px;
}

.avatar-row {
  text-align: center;
}

.avatar {
  width: 150px;
}

.home-actions {
  text-align: left;
  margin: auto;
  width: 400px;
  max-width: 100%;
  padding: 0 10px;
}

.nav-row, nav, .nav-list-item {
  display: inline-block;
}
.nav-list {
  padding: 0;
  list-style: none;
}
.nav-list-item {
  margin: 0 5px;
}

.latest-row::before,
.nav-row::before,
.search-row::before {
  content: "⇒ ";
  font-size: 25px;
  color: #ccc;
  line-height: 25px;
}

.search {
  font-size: 100%;
  font-family: inherit;
  background: none;
  border: none;
  width: 200px;
  outline: none;
  color: inherit;
  /* little hack to not get the borders blurry on chrome */
  border: 1px solid transparent;
  border-bottom-color: var(--border-color);
  padding: 10px 5px;
}

.categories, .latest-row {
  display: inline-block;
}

