.home-about {
  text-align: center;
  width: 512px;
  max-width: 100%;
  margin: auto;
}

.home-about-avatar {
  width: 192px;
  max-width: 100%;
  display: block;
  margin: 12px auto;
}

.home-about-title {
  margin: 12px 0;
}

.home-about-name {
  margin: 12px 0;
}

.home-links {
  text-align: center;
}

.home-links ul {
  list-style: none;
  padding: 0 16px;
  display: inline-block;
}

.home-links ul:not(:last-child) {
  height: 100%;
  border-right: 3px solid var(--border-color);
}

.home-links-link {
  display: inline-block;
  margin: 0 4px;
}

.home-last-entries {
  max-width: 100%;
  width: 1280px;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.entry {
  max-width: 464px;
  /* we need 0 vertical margin, because we are in a flex (entries), so that
   * means that margins add up (spacing between entries 48 + 48), unlike in
   * regular flows
   */
  margin: 0;
  padding: 0 16px;
}

.home-closing {
  text-align: center;
  width: 512px;
  max-width: 100%;
  margin: auto;
}
