.list-top {
  text-align: center;
}

.list-description {
  color: var(--font-mute);
}

.list-window {
  width: 750px;
  margin: auto;
  max-width: 100%;
}

.list-list {
  outline: none;
  padding: 0;
  list-style: none;
  padding: 0 10px;
}

.list-content {
  padding: 0px;
/*  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
*/
  display: block;
}


.list-content-tags li {
  display: inline-block;
}

.list-link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  transition: .2s all;
  display: inline;
}

.list-link:hover {
  color: var(--purple)
}

.list-summary {
  margin-top: 20px;
  text-align: justify;
}

.list-summary img {
  max-width: 100%;
}