.list-top {
  text-align: center;
}

.list-description {
  color: var(--font-mute);
}

.list-entries {
  width: var(--content-width);
  max-width: 100%;
  margin: auto;
}

/* the style for entries is in common.css because it is also used on the home
 * page
 */