.page-top {
  padding: 0 10px;
  text-align: center;
}

.page-title {
  margin-right: 10px;
  margin-left: 10px;
}

.page-categories {
  margin-top: 0;
}

.page-categories, .page-tags,
.page-categories li, .page-tags li {
  display: inline-block;
}

.page-tags {
  text-align: center;
  flex-basis: 100%;
  margin: 0;
}

.repository-star {
  font-size: 1.2em;
  color: #333;
}

.page-content hr {
  border: none;
  border-top: 4px solid hsla(192, 16%, 92%, 1);
  margin: 30px auto;
}

.page-content {
  width: 1000px;
  max-width: 100%;
  margin: 20px auto;
  background: white;
  text-align: justify;
  box-shadow: 5px 5px 20px #ddd;
  padding: 10px 0;
  --x-margin: 5%;
}

.page-content img {
  max-width: 100%;
}

.page-content p,
.page-content table,
.page-content blockquote,
.page-content ul,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {
  margin-right: var(--x-margin);
  margin-left: var(--x-margin);
}

.page-bottom {
  text-align: center;
  padding: 1px 20px;
}

.page-date {
  font-style: italic;
  color: var(--font-mute);
}

.page-share, .page-share-list {
  display: inline-block;
  vertical-align: middle;
}

.page-share-list {
  padding: 0;
  list-style: none;
}

.page-share-list li {
  display: inline-block;
  margin: 5px;
}

.page-share-list img {
  width: 25px;
  height: 25px;
}

/* content */

code {
  font-family: var(--monospace);
  font-size: .9em;
}

.hljs {
  margin: 20px var(--x-margin);
  padding: 20px;
}

:not(pre) > code {
  background-color: var(--code-bg);
  padding: 2px 5px;
  border-radius: 2px;
}

blockquote {
  border-left: 4px solid #ddd;
  color: #aaa;
}

kbd {
  color: #666;
  border: 1px solid #ccc;
  padding: 1px 5px;
  border-radius: 2px;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #DDD;
  padding: 3px 5px;
}

th {
  font-weight: normal;
  background-color: #F9F9F9;
}
