.page-top {
  padding: 0 10px;
  text-align: center;
}

.page-title {
  margin-right: 10px;
  margin-left: 10px;
}

.page-categories {
  margin-top: 0;
}

.page-categories, .page-tags,
.page-categories li, .page-tags li {
  display: inline-block;
}

.page-tags {
  text-align: center;
  flex-basis: 100%;
  margin: 0;
}

.repository-star {
  font-size: 1.2em;
  color: #333;
}

.page-warning {
  text-align: center;
}

.page-content {
  width: 960px;
  max-width: 100%;
  margin: 20px auto;
  background: white;
  text-align: justify;
  box-shadow: 5px 5px 20px #ddd;
  padding: 10px 30px;
}

.page-content hr {
  border: none;
  border-top: 4px solid hsla(192, 16%, 92%, 1);
  margin: 30px auto;
}

.page-content img {
  max-width: 100%;
}

.page-bottom {
  text-align: center;
  padding: 1px 0;
}

.page-share, .page-share-list {
  display: inline-block;
  vertical-align: middle;
}

.page-share-list {
  padding: 0;
  list-style: none;
}

.page-share-list li {
  display: inline-block;
  margin: 5px;
}

.page-share-list svg {
  width: 25px;
  height: 25px;
}

.page-read-other {
  margin-top: 40px;
}

/* content */

.page-content .highlight {
  font-family: var(--monospace);
  font-size: .9em;
}

.page-content .highlight {
  padding: 10px 20px;
}

.page-content :not(pre) > code {
  background-color: var(--code-bg);
  padding: 2px 5px;
  border-radius: 2px;
}

.page-content blockquote {
  border-left: 6px solid #ddd;
  margin-left: 0;
  padding-left: 10px;
  color: #aaa;
}

.page-content kbd {
  color: #666;
  border: 1px solid #ccc;
  padding: 1px 5px;
  border-radius: 2px;
}

.page-content table {
  border-collapse: collapse;
}

.page-content td, th {
  border: 1px solid #DDD;
  padding: 2px 5px;
}

.page-content th {
  font-weight: normal;
  background-color: #F9F9F9;
}
