.list-content .categories,
.list-content-reading-time {
  display: none;
}

.page-comment {
  display: block;
}

.page-comment-author {
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 90%;
}

.page-comment-author-avatar {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: auto;
  margin: 0;
  margin-right: 5px;
}

.page-comment-author-name {
  display: inline-block;
  text-decoration: inherit;
}

.page-comment-author::after {
  content: "said";
  font-size: inherit;
  font-style: italic;
  color: #888;
}
