.list-top {
  text-align: center;
}

.list-description {
  color: var(--font-mute);
}

.list-window {
  width: 750px;
  margin: auto;
  max-width: 100%;
}

.list-list {
  outline: none;
  padding: 0;
  list-style: none;
  padding: 0 10px;
}

.list-content {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-content-tags,
.list-content-tags li {
  display: inline-block;
}

.list-list .categories {
  display: inline-block;
  font-size: 80%;
}

.list-link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  transition: .2s all;
  display: inline;
}

.list-link:hover {
  color: var(--purple)
}

.list-content-reading-time {
  font-size: 80%;
  opacity: .8;
}
